version: "3.9"

services:

  db:
    image: postgres:16
    container_name: re-postgres
    environment:
      POSTGRES_DB: realestate
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ..
    container_name: re-backend
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - backend.env
    ports:
      - "8080:8080"

volumes:
  pgdata:
